In [51]:
import pandas as pd
df = pd.read_csv('data.csv')

no_graduates = []
no_polUni = []
no_polCol = []
aver_mil = []
rate_polUni = []
rate_polCol = []
rate_mil = []

for count in range(6):
    if(count == 0):
        current = df[df["High school system"].isin(["National"]) & df["Gender"].isin(["female"])]
    elif(count == 1):
        current = df[df["High school system"].isin(["National"]) & df["Gender"].isin(["male"])]
    elif(count == 2):
        current = df[df["High school system"].isin(["county & city"]) & df["Gender"].isin(["female"])]
    elif(count == 3):
        current = df[df["High school system"].isin(["county & city"]) & df["Gender"].isin(["male"])]
    elif(count == 4):
        current = df[df["High school system"].isin(["private"]) & df["Gender"].isin(["female"])]
    elif(count == 5):
        current = df[df["High school system"].isin(["private"]) & df["Gender"].isin(["male"])]
    num_grad = current['Num of graduates'].sum()
    num_polu = current['Num of enroll in police university'].sum()
    num_polc = current['Num of enroll in police college'].sum()
    num_mil =  current['Num of enroll in military school'].sum()
    no_graduates.append(num_grad)
    no_polUni.append(num_polu)
    no_polCol.append(num_polc)
    aver_mil.append(round((num_mil / len(current)), 4))
    rate_polUni.append(round((num_polu / num_grad), 4))
    rate_polCol.append(round((num_polc / num_grad), 4))
    rate_mil.append(round((num_mil / num_grad), 4))

dists = {
    "High school system": ["National", "National", "county & city", "county & city", "private", "private"], 
    "Gender": ["female", "male", "female", "male", "female", "male"], 
    "Num of graduates": no_graduates, 
    "Num of enroll in police university": no_polUni, 
    "Num of enroll in police college": no_polCol,
    "Military school enrollment average": aver_mil, 
    "Police university enrollment rate": rate_polUni, 
    "Police college enrollment rate": rate_polCol,
    "Military school enrollment rate": rate_mil
}

df_dist = pd.DataFrame(dists)
df_dist

,High school system,Gender,Num of graduates,Num of enroll in police university,Num of enroll in police college,Military school enrollment average,Police university enrollment rate,Police college enrollment rate,Military school enrollment rate
0,National,female,41984,14,58,65.3333,0.0003,0.0014,0.0093
1,National,male,45412,66,567,134.1667,0.0015,0.0125,0.0177
2,county & city,female,33110,11,38,31.8000,0.0003,0.0011,0.0048
3,county & city,male,35960,27,300,70.6000,0.0008,0.0083,0.0098
4,private,female,40351,7,16,36.2500,0.0002,0.0004,0.0036
5,private,male,44471,10,29,116.7500,0.0002,0.0007,0.0105